project-spec/hw-description/*
!project-spec/hw-description/.placeholder
images/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
.metadata/
meta-plnx-generated/
.Xil/
build/
components/
pre-built/